.img{
    background-image: url('../img/mon-compte.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height:90vh;   
}

.avatar{

    max-width: 150px;
}



